body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #EDEDEE;
}

a{
  color: inherit;
}

.list-group-flush{
  color: #495057;
}

.active{
  background-color: #e9ecef !;
}

main {
  background-color: #EDEDEE;
}

.navbar-brand{
  margin-left: 15px;
  color: #2196f3 !important;
}

.sidebar-fixed {
  left: 0;
  top: 0;
  height: 100vh;
  width: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0;
}


.flexible-navbar {
  transition: padding-left 0.5s;
  padding-left: 270px;
  background: #fff;
}

#content{
  margin-left: 270px;
}    


.sidebar-fixed .logo-wrapper img{
  width: 100%;
  padding: 2.5rem;
}

.list-group-item {
  display: block !important;
  transition: background-color 0.3s;
}

.list-group-item:hover {
  color: #49505B;
  text-decoration: none;
  background-color: #f8f9fa
}

.list-group-item:hover {
  color: #49505B;
  text-decoration: none;
  background-color: #f8f9fa
}


.list-group .active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.card-title{
  font-size: 1.5rem;
  font-weight: 600;
}

.card-subtitle{
  font-size: 1.25rem;
  font-weight: 600;
}

.full {
  height: 70vh;
}

.bad-gateway-row {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.card .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}

.card h3, .card.card-cascade h4 {
  margin-bottom: 0px;
}

.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}

.cascading-admin-card .admin-up .fa {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
}

.cascading-admin-card .admin-up .fa {
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}

.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #999999;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}

.form-inline{
  flex-flow: unset
}

.breadcrumb{
  margin: 0;
}

.activeClass .list-group-item {
  z-index: 5;
  color: #fff;
  border-color: #007bff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px !important;
  background-color: #007bff !important;
}

.page-footer{
  margin-left: 270px;
}

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none;
  }
  .flexible-content {
    padding-left: 0;
  }
  .flexible-navbar {
    padding-left: 10px;
  }

  #content{
    margin-left: 0px;
  }

  .page-footer{
    margin-left: 0px;
  }
  
  .card.cascading-admin-card {
    margin-top: 2.5rem;
  } 
}

@media (max-width: 576px) { 
  .card.cascading-admin-card {
    margin-top: 2.5rem;
  }

  #breadcrumb{
    flex-direction: column;
  }
}

/* Only for snippet */
.double-nav .breadcrumb-dn {
  color: #fff;
}
.button-collapse i {
  color: #fff
}

.HeadingStyle{
  margin-top: 30px;
  margin-bottom: 30px;
  color: #1c3c58;
  font-weight: 650;
}

/* sets the margins */
.styletables{
  margin-top:40px;
  margin-bottom: 40px;
  margin-left: 300px;
  margin-right: 40px;
}


/* for flats form  */

.styleFlatFormConponents{
  margin-top:-40px;
  margin-bottom: 30px;
  margin-left: 250px;
  margin-right: 40px;
}

.styleFlatForm{
  margin-top:10px;
  margin-bottom: 10px;
  margin-left: 300px;
  margin-right: 40px;
}

.styleFlatFormcheckboxes{
  margin-right: 25px;
  margin-left: -80px;
}


/* for add applicant form */

/* position set for mdbinput right for name and father's name */
.SetPositionLeft{
  margin-left: 20px;
  margin-right: 60px;

}

.SetPositionRight{

  margin-left: 500px;
  margin-right: -480px;
  margin-top: -320px;
  margin-bottom: 20px;

}
.SetPositionLeftForKin{
  
  margin-left: 20px;
  margin-right: 60px;
}
.SetPositionRightForKin{
  margin-left: 500px;
  margin-right: -480px;
  margin-top: -129px;
  margin-bottom: 30px;

}

.SetPositionLeftFordropDown{

  margin-left: 20px;
  margin-right: -20px;
}

/* for select flat disable inputs */
.SetPositionRightForFlats{
  
  margin-left: 500px;
  margin-right: -480px;
  margin-top: -100px;
  margin-bottom: 60px;
}


.SetPositionLeftForFlats{

  margin-left: 20px;
  margin-right: 70px;
  margin-top: -315px;
  margin-bottom: 40px;
}


.SaveBtn{

  margin-left: 10px;
  margin-right: -400px;
  margin-top: 70px;
  margin-bottom: 30px;
  
}



/* Dropdown Button */
.dropbtn {
  background-color: #56A5EC ;
  color: black;
  width: 160px;
  height: 50px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #56A5EC;}

.select{
  text-align: center;
  text-align-last: center;
}


/* for checkboxes on flats details form */
.checkBoxFlatForm{
  margin-left: 300px;
  margin-top: 10px;
}


